.App {
  color: #333;
}

@font-face {
  font-family: "chessline";
  src: url("CHEQ_TT.TTF");
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: "ultraminimal";
  src: url("ultraminimal.ttf");
  /* TTF file for CSS3 browsers */
}

.container {
  width: 780px !important;
}

.label {
  font-size: 11px;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.timer {
  font-family: monospace;
  font-size: 19px;
}

.chess-board {
  cursor: default;
  font-family: "chessline";
  text-align: center;
  font-size: 86.5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.seperator {
  margin-top: -100px;
}

.selectable:hover {
  background: gold;
  cursor: pointer;
}

.selected, .selected:hover {
  background: gold !important;
}

.legalnext {
  background: gold !important;
  cursor: pointer;
}

#root > div > div:nth-child(1) > div:nth-child(1) > h1 {
  font-family: 'ultraminimal'
}

#lid {
  animation: blink 7.0s infinite;
}

#eye {
  animation: squeeze 7.0s infinite;
}

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(15px) scaleY(0)
  }
  100% {
    animation-timing-function: ease-out;
  }
}

@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0.8)
  }
  100% {
    animation-timing-function: ease-out;
  }
}

#thinking-bar {
  height: 1px;
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.ai-footprint-in-sand {
  background: white;
  -webkit-animation: normal-move 1s;
  -webkit-animation-iteration-count: 1;
  animation: normal-move 1s;
  animation-iteration-count: 1;
}

@-webkit-keyframes normal-move {
  0% {
    background: white;
  }
  10% {
    background: #C7C7C7;
  }
  100% {
    background: white;
  }
}

@keyframes normal-move {
  0% {
    background: white;
  }
  10% {
    background: #C7C7C7;
  }
  100% {
    background: white;
  }
}

.ai-bloody-footprint-in-sand {
  background: white;
  -webkit-animation: bloody-move 1.5s;
  animation: bloody-move 1.5s;
}


@-webkit-keyframes bloody-move {
  0% {
    background: white;
  }
  10% {
    background: #F83A3A;
  }
  100% {
    background: white;
  }
}

@keyframes bloody-move {
  0% {
    background: white;
  }
  10% {
    background: #F83A3A;
  }
  100% {
    background: white;
  }
}

.graveyard {
  font-family: "chessline";
  text-align: center;
  word-break: break-all;
  width: 100%;
  font-size: 28px;
}

#graves{
  margin-top: 20px;
}
