.App {
  color: #333;
}

@font-face {
  font-family: "chessline";
  src: url("CHEQ_TT.TTF");
  /* TTF file for CSS3 browsers */
}

@font-face {
  font-family: "ultraminimal";
  src: url("ultraminimal.ttf");
  /* TTF file for CSS3 browsers */
}

.container {
  width: 780px !important;
}

.footer{
  text-align: center;
  margin-top: 50px;

}

.timer{
    font-family: monospace;
    padding: 0px 50px;
    font-size: 27px;
}

.chess-board {
  /* border:  7px solid #333; */
  cursor: default;
  /* padding: 6px 10px; */
  font-family: "chessline";
  text-align: center;
  font-size: 95px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cell {}

.seperator {
  margin-top: -110px;
}

.selectable:hover {
  background: gold;
  cursor: pointer;
}

.selected, .selected:hover {
  background: gold !important;
}

.legalnext {
  background: gold !important;
  cursor: pointer;
}

#root > div > div:nth-child(1) > h1 {
  font-family: 'ultraminimal'
}